main {
  background-color: black;
}

.box-image {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}

.title {
  color: white;
  text-align: center;
}

.description {
  color:white;
}

